@model Publicacion
@{   
    ViewData["Title"] = "Voy a tener suerte";
    ViewData["Image"] = "/assets/img/post-bg.jpg";
    ViewData["TitleHeader"] = Model.Titulo;
    ViewData["SubTitleHeader"] = Model.SubTitulo;
}


        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                     @Html.Raw(@Model.Cuerpo)
                    </div>
                </div>
            </div>
        </article>
