@model VehicleModel
@{
    ViewData["Title"] = "Edit Vehicle";
}


<h1> Update Vehiculo </h1>
<hr />
<div class="row">
    <form asp-action="Update" asp-route-id="@Model.Id">

        <partial name="_formFields" model="@Model" />

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>