@model VehicleModel

@{
    ViewData["Title"] = "Create new Vehicle";
}

<h1> add new Vehiculo </h1>
<hr />
<div class="row">
    <form asp-action="Create">

        <partial name="_formFields" model="@Model" />

        <button type="submit" value="Create" class="btn btn-primary">Add</button>
    </form>
</div>