@model IntroduccionMVC.Data.Entities.Vehiculo

@{
    ViewData["Title"] = "Create new Vehicle";
}

<h1> add new Vehiculo </h1>
<hr />
<div class="row">
    <form asp-action="Create">

        <div class="mb-3">
            <label for="Dominio" class="form-label">Dominio</label>
            <input asp-for="Dominio" type="text" class="form-control" id="Dominio" aria-describedby="Dominio">

        </div>
        <div class="mb-3">
            <label for="NumeroChasis" class="form-label">Numero Chasis</label>
            <input asp-for="NumeroChasis" type="text" class="form-control" id="NumeroChasis" aria-describedby="Numero Chasis">
        </div>
        <div class="mb-3">
            <label for="Propietario" class="form-label">Propietario</label>
            <input asp-for="Propietario" type="text" class="form-control" id="Propietario" aria-describedby="Propietario">
        </div>
        <div class="mb-3">
            <label for="AnioFabricacion" class="form-label">Año de Fabricacion</label>
            <input asp-for="AnioFabricacion" type="text" class="form-control" id="AnioFabricacion" aria-describedby="Año de Fabricacion">
        </div>


        <button type="submit" value="Create" class="btn btn-primary">Add</button>
    </form>
</div>