@model VehicleModel
@{
    ViewData["Title"] = "Detail Vehicle";
}

<h1> Detail Vehiculo </h1>
<hr />
<div class="row">
    <form>

        <partial name="_formFields" model="@Model" />
        
    </form>
</div>